.container {
  width: 100vw;
  height: 100vh;
  border: 1px solid red;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 1.9fr 0.1fr;
  gap: 0px;
  grid-template-areas:
    "header main"
    "header footer";
  .header {
    grid-area: header;
    border: #007bff 1px solid;
  }

  .main {
    grid-area: main;
    border: #007b 1px solid;
  }

  .footer {
    grid-area: footer;
    border: #28a745 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

.title{
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #007bff;
}
