.container{
  width: 1.4em;
  height: 1.4em;
  display: inline-block;
  fill: currentColor;
  .close{
    position: absolute;
    bottom: 100%;
    left: 100%;
    background: rgba(0, 0, 0, 0.1);
    width: 2em;
    height: 2em;
    border-radius: 50%;
    transform: translate(-50%, 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
}
